#img {
  height: 400px;
  width: 700px;
  /* margin-left: 24%; */
  margin: 30px;
}
#imageContainer {
  border: groove;
  height: 450px;
  width: 750px;
  margin-left: 24%;
}
#text {
  position: absolute;
  top: 92%;
  display: block;
  margin: 0px 163px 0px 0px;
  width: 1398px;
  height: 32px;
  border-radius: 10px;
}
#submit {
  position: absolute;
  letter-spacing: 50%;
  top: 95%;
  left: 91%;
}
